h1{
    font-size: 30px !important;

}

button:hover{
background-color:aliceblue;
}

canvas{
    border:2px solid black;
    border-radius:5px;
    animation-name:shadow;
    animation-duration:4s;
animation-iteration-count:infinite;
margin-top: 70px;
}

@keyframes shadow{
    from{box-shadow: 1px 1px 30px red;}
    to{box-shadow: 1px 1px 30px blue;}
}